<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home page</title>
	 <!-- bootstrap: -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css" />
</head>
<body>
	<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>


        </div>

<!-- avatar dropdown -->
  <div class="dropdown text-end">
          <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>


      </div>

    </div>

  </header>




<div class="container">
	{{if .Success}}
	    <h1>{{.StudentName}}, your grade is {{.Grade}}</h1>
      <p>{{.PdfContent}}</p>
      <hr>
      <b> Words tokenized: </b>
      <p>
      {{range $el := .PdfTokenized}}    
        <span>{{$el}}</span>,
      {{end}}
      </p>
      <hr>
      <b>All nouns from report:</b>
      {{range $el := .AllNounsReport}}    
        <span>{{$el}}</span>,
      {{end}}

      <hr>
      <b>All nouns from requirements:</b>
      {{range $el := .AllNounsRequirements}}    
        <span>{{$el}}</span>,
      {{end}}


	{{else}}
	    <h1 class="mb-3">Welcome to the Automatic Grading System!</h1>

	    <form method="POST">

			<label class="form-label">Name</label><br />
			<input type="text" name="name" class="form-control" ><br />

			<label class="form-label">Points</label><br />
			<input type="text" name="received_points" class="form-control" ><br />


      <label class="form-label">Pdf path</label><br />
      <input type="text" name="pdf_path" class="form-control"><br />

      <label class="form-label">Lab requirements path:</label><br />
      <input type="text" name="requirements_path" class="form-control"><br />


			<input type="submit">

	    </form>
	{{end}}

</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>